<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwp.mapper.SysUserMapper">

    <!-- 根据用户名查询 -->
    <select id="getUserByAccount" resultType="com.wwp.entity.SysUser">
		select * from  sys_user  where account = #{account}
	</select>

    <!--  将数据库生成的id 返回到SysUser中-->
    <insert id="reg"   parameterType="com.wwp.entity.SysUser">
        INSERT INTO sys_user set id=#{id},account=#{account},password=#{password},`name`=#{name},salt=#{salt},`state`=#{state},`type`=#{type}
    </insert>

    <resultMap id="BaseResultMap" type="java.util.Map">
        <result column="account" property="account"/>
        <result column="name" property="name"/>
    </resultMap>
    <select id="queryAllUsers" resultMap="BaseResultMap">
		select name account from  sys_user
	</select>

    <select id ="queryUserIdByDepId" resultType ="java.util.List">
        select user_id from sys_user_depart where depart_id = #{depId}
    </select>
</mapper>